# Maven
target/
*.jar
*.war
*.ear

# IDEs and Editors
.idea/
*.iml
.vscode/
.settings/
.project
.classpath
.nb-gradle/

# Logs and temp files
*.log
tmp/

# OS files
.DS_Store
Thumbs.db

# Git
.git/
.gitignore

# Documentation folder (unless needed inside container)
documents/
