<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- Include default Spring Boot logging settings -->
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

    <springProperty scope="context" name="appName" source="spring.application.name"/>

    <!-- Global Log Levels -->
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>
